{% extends 'base.html' %}

{% block content %}
...

    {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}
    <div class="container mx-auto mt-4">
      <div class="row">
        
        <div class="col-lg-4 col-sm-6">
          <div class="card" style="width: 18rem;">
      <img src="https://i.imgur.com/ZTkt4I5.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{product.movie_name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{product.release_date}}</h6>
        <p class="card-text">{{product.description}}</p>
           <a href="{% url 'main:edit_product' product.pk %}" class="btn btn-primary">Edit</a>
        <a href="{% url 'main:delete_product' product.pk %}" class="btn btn-danger"> Delete</a>
      </div>
      </div>
        </div>   
        
    
      </div>
    </div>
    
    <script>
      async function getProducts() {
          return fetch("{% url 'main:get_product_json' %}").then((res) => res.json())
      }
      async function refreshProducts() {
        document.getElementById("product_table").innerHTML = ""
        const products = await getProducts()
        let htmlString = `<tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Date Added</th>
        </tr>`
        products.forEach((item) => {
            htmlString += `\n<tr>
            <td>${item.fields.name}</td>
            <td>${item.fields.price}</td>
            <td>${item.fields.description}</td>
            <td>${item.fields.date_added}</td>
        </tr>` 
        })
        
        document.getElementById("product_table").innerHTML = htmlString
    }

    refreshProducts()
  </script>
   


<br />

<a href="{% url 'main:create_product' %}">
    <button>
        Add New Product
    </button>
</a>
<a href="{% url 'main:logout' %}">
  <button>
      Logout
  </button>
</a>


{% endblock content %}
