{% extends 'base.html' %}

{% block content %}
...

    {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}
    <div class="container mx-auto mt-4">
      <div class="row">
        {% for product in products %}
        <div class="col-lg-4 col-sm-6">
          <div class="card" style="width: 18rem;">
      <img src="https://i.imgur.com/ZTkt4I5.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{product.movie_name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{product.release_date}}</h6>
        <p class="card-text">{{product.description}}</p>
           <a href="{% url 'main:edit_product' product.pk %}" class="btn btn-primary">Edit</a>
        <a href="{% url 'main:delete_product' product.pk %}" class="btn btn-danger"> Delete</a>
      </div>
      </div>
        </div>   
        {% endfor %}
    
      </div>
    </div>
    
   


<br />

<a href="{% url 'main:create_product' %}">
    <button>
        Add New Product
    </button>
</a>
<a href="{% url 'main:logout' %}">
  <button>
      Logout
  </button>
</a>


{% endblock content %}
